@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cream:  #ffffff;
  --blue:   #0a0a0a;
  --orange: #0a0a0a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cream);
  color: var(--blue);
  font-family: 'DM Sans', system-ui, sans-serif;
}
